<!doctype html>
<html lang="en" xmlns:="http://www.thymeLeaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Settings Page</title>
</head>
<body>

<section>

<h1 class="text-center">Welcome to Settings page.....</h1>

<div class="container mt-5">

	<div class="row">
	
	
		<div class="col-md-12">
		
		
			<div class="card">
			
				<div class="card-body">
				
					<h3 class=" mb-3 text-center">Change Password</h3>
				
					<form th:action="@{/user/change-password}" method="post">
					
						<!-- old password field -->
						
						<div class="form-group">
						
							<input name="oldPassword" type="password" class="form-control" placeholder="Enter Old Password" />
						
						</div>
						
						<!-- new Password field -->
						
						<div class="form-group">
						
							<input name="newPassword" type="password" class="form-control" placeholder="Enter new Password" />
						
						</div>
						
						<!-- Buttons to submit and reset -->
						
						<div class="container text-center">
						
						<button  type="submit" class="btn btn-success ">Change Password</button>
						<button type="reset" class="btn btn-warning ">Reset</button>
						
						</div>
					
					
					</form>
					
				
				</div>
			
			
			</div>
		
		
		
		</div>
	
	
	</div>


</div>

</section>

</body>
</html>